extends layout

block content
  h1= title
  p is this thing on?? plz work???
  button(type="button", class="btn btn-secondary" onclick="update()") Press Me
  div(id="target") Display
  script. 
    var client_count = 0;
    method update(){
      x = client_count+=1
      cosole.log("target" = "Value Now: " + x)
    }