let app = express();
app.set("view engine", "pug");

extends layout

block content
  h1= Search Results
  - var puppyArray = ['pug', '30', 'small']
  div(class="conatiner-fluid")
  div(class="row")
  - for (var i = 0, i < puppyArray.length, i++)
    div(class="col_sm_2")
    p Puppy Breed = #{puppyArray[0]}
    p Puppy Weight = #{puppyArray[1]}
    p Puppy Size = #{puppyArray[2]}
    