let app = express();
app.set("view engine", "pug");

extends layout

block content
  h1= Selector 
  var puppy_images ['pupp1.jpg', 'pupp2.jpg', 'pupp3.jpg', 'pupp4.jpg', 'pupp5.jpg']
  for (var i = 0, i < puppy_images.length, i++){
    Math.floor(Math.random()*5)
  }